.filtering {
    width: 20%;
    font-size: 15px;
    direction: rtl;
}

.filter_btn:hover {
    background-color: #efefef !important;
}

.filter_btn {
    margin-bottom: 10px;
    padding: 10px 14px;
    font-size: 12px;
    line-height: 16px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 1rem;
    transition: .1s all ease-in;
    border-radius: 4px;
    color: black;
    background-color: #f7f7f7;
}

.name_filtering {
    padding-top: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.388);
}

.title {
    margin-bottom: 20px;
}

.name_filtering div div {
    color: rgb(52, 24, 14);
    background: white;
    text-align: center;
    border-radius: 100%;
    padding: .3rem .3rem .1rem .3rem;
    font-size: 14px;
    transition: .1s all ease-in;
}

.name_filtering .active div {
    background: rgb(52, 24, 14);
    color: white;
}

.name_filtering div:hover div {
    background: rgb(52, 24, 14);
    color: white;
}

.name_filtering div {
    cursor: pointer;
    align-items: center;
    margin-top: .5rem;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.name_filtering section {
    padding-left: .5rem;
    height: 245px;
    overflow-y: scroll;
}

.name_filtering section::-webkit-scrollbar {
    width: 8px;
    background-color: #747272 !important;
    border-radius: 10px;
}

.name_filtering section::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(52, 24, 14) !important;
}

.star_filtering section {
    display: grid;
    gap: 10px;
}

.star_filtering div {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.star_filtering span {
    color: gray;
}

.star_filtering,.best_products {
    padding-top: 30px;
    margin-top: 2rem;
    border-top: 1px solid rgba(128, 128, 128, 0.388);
}

.star_filtering svg {
   color: orange;
}
.best_products section{
    display: grid;
    gap: 10px;
}
 