.container {
    color: black;
    text-align: right;
    max-width: 1222px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
}
.container section strong{
    color: black;
}
.container section {
    margin-top: 20px;
}
.container section p{
    margin-bottom: 10px;
    direction: rtl;
    font-size: 1.1rem;
    line-height: 2.2rem;
    color: gray;
}