
.container {
    color: black;
    text-align: right;
    max-width: 1222px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-bottom: 4rem;
    direction: rtl;
    margin-left: auto;
  
}
.articles{ 
    gap: 23px;
    display: grid;  
    row-gap: 30px;
    grid-template-columns: auto auto auto;
}